[submodule "lib/devtools"]
	path = lib/devtools
	url = https://github.com/LayerZero-Labs/devtools
[submodule "lib/LayerZero-v2"]
	path = lib/LayerZero-v2
	url = https://github.com/LayerZero-Labs/LayerZero-v2
[submodule "lib/solidity-bytes-utils"]
	path = lib/solidity-bytes-utils
	url = https://github.com/GNSPS/solidity-bytes-utils
[submodule "lib/LayerZero-v1"]
	path = lib/LayerZero-v1
	url = https://github.com/LayerZero-Labs/LayerZero-v1
